In [1]:
import json
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error
from scipy.special import softmax as scipy_softmax

In [2]:
df = pd.read_csv("./processed_data_course_based.csv")

In [5]:
df

,Student Number,Course Title,Course Credit,Grades,Course Semester,GPA,Completed Credits,Semester GPA,Semester Credit,Grade 1 Rate,Grade 2 Rate,Grade 3 Rate,Grade 4 Rate,Grade 5 Rate,Mean Grade,STDEV Grade,Mean GPA,STDEV GPA,Department Code
0,0,Ideological and Moral Cultivation and Legal Fo...,2.5,4,1,3.102564,19.5,3.102564,19.5,0.000000,0.023560,0.486911,0.408377,0.081152,3.547120,0.677055,3.307021,0.516455,BLG
1,0,Success: Career Planning,1.0,3,1,3.102564,19.5,3.102564,19.5,0.005236,0.086387,0.557592,0.052356,0.298429,3.552356,1.025211,3.307021,0.516455,BLG
2,0,Introduction to Computer Science,2.0,1,1,3.102564,19.5,3.102564,19.5,0.007853,0.107330,0.358639,0.429319,0.096859,3.500000,0.841040,3.307021,0.516455,BLG
3,0,Advanced Mathematics A(1),5.5,4,1,3.102564,19.5,3.102564,19.5,0.143979,0.193717,0.204188,0.240838,0.217277,3.193717,1.359003,3.307021,0.516455,BLG
4,0,College English A(1),4.0,3,1,3.102564,19.5,3.102564,19.5,0.028796,0.256545,0.439791,0.253927,0.020942,2.981675,0.843178,3.307021,0.516455,BLG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19095,381,J2EE Framework,4.5,3,6,2.790076,131.0,2.800000,20.0,0.007853,0.120419,0.348168,0.400524,0.123037,3.510471,0.886555,3.220775,0.515869,BLG
19096,381,Intellectual Property and Software Protection,1.0,4,7,2.838129,139.0,3.625000,8.0,0.000000,0.151832,0.227749,0.366492,0.253927,3.722513,1.007305,3.241516,0.494006,BLG
19097,381,Human-Computer Interaction Technology,2.0,5,7,2.838129,139.0,3.625000,8.0,0.000000,0.060209,0.413613,0.408377,0.117801,3.583770,0.774968,3.241516,0.494006,BLG
19098,381,Software Development and Testing Training,3.0,3,7,2.838129,139.0,3.625000,8.0,0.000000,0.018325,0.476440,0.463351,0.041885,3.528796,0.608736,3.241516,0.494006,BLG
19099,381,Python Language Programming,2.0,3,7,2.838129,139.0,3.625000,8.0,0.000000,0.167539,0.314136,0.282723,0.235602,3.586387,1.025462,3.241516,0.494006,BLG

In [3]:
df.drop([df.columns[0], df.columns[1]] ,inplace=True, axis=1)

In [4]:
df["Course Level"] = "Undergraduate"
df['Status'] = np.where(df['Grades'] != 1, 'Successful', 'Unsuccessful')
conditions = [
    (df['Course Semester'] <= 2),
    (df['Course Semester'] >= 3) & (df['Course Semester'] <= 4),
    (df['Course Semester'] >= 5) & (df['Course Semester'] <= 6),
    (df['Course Semester'] == 7)
]

choices = ['Freshman', 'Sophomore', 'Junior', 'Senior']

# Create the new 'standing' column
df['Standing'] = np.select(conditions, choices, default=None)

# Create Course Year column
choices = [1, 2, 3, 4]

df["Course Year"] = np.select(conditions, choices, default=None)
df

,Course Credit,Grades,Course Semester,GPA,Completed Credits,Semester GPA,Semester Credit,Grade 1 Rate,Grade 2 Rate,Grade 3 Rate,...,Grade 5 Rate,Mean Grade,STDEV Grade,Mean GPA,STDEV GPA,Department Code,Course Level,Status,Standing,Course Year
0,2.5,4,1,3.102564,19.5,3.102564,19.5,0.000000,0.023560,0.486911,...,0.081152,3.547120,0.677055,3.307021,0.516455,BLG,Undergraduate,Successful,Freshman,1
1,1.0,3,1,3.102564,19.5,3.102564,19.5,0.005236,0.086387,0.557592,...,0.298429,3.552356,1.025211,3.307021,0.516455,BLG,Undergraduate,Successful,Freshman,1
2,2.0,1,1,3.102564,19.5,3.102564,19.5,0.007853,0.107330,0.358639,...,0.096859,3.500000,0.841040,3.307021,0.516455,BLG,Undergraduate,Unsuccessful,Freshman,1
3,5.5,4,1,3.102564,19.5,3.102564,19.5,0.143979,0.193717,0.204188,...,0.217277,3.193717,1.359003,3.307021,0.516455,BLG,Undergraduate,Successful,Freshman,1
4,4.0,3,1,3.102564,19.5,3.102564,19.5,0.028796,0.256545,0.439791,...,0.020942,2.981675,0.843178,3.307021,0.516455,BLG,Undergraduate,Successful,Freshman,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19095,4.5,3,6,2.790076,131.0,2.800000,20.0,0.007853,0.120419,0.348168,...,0.123037,3.510471,0.886555,3.220775,0.515869,BLG,Undergraduate,Successful,Junior,3
19096,1.0,4,7,2.838129,139.0,3.625000,8.0,0.000000,0.151832,0.227749,...,0.253927,3.722513,1.007305,3.241516,0.494006,BLG,Undergraduate,Successful,Senior,4
19097,2.0,5,7,2.838129,139.0,3.625000,8.0,0.000000,0.060209,0.413613,...,0.117801,3.583770,0.774968,3.241516,0.494006,BLG,Undergraduate,Successful,Senior,4
19098,3.0,3,7,2.838129,139.0,3.625000,8.0,0.000000,0.018325,0.476440,...,0.041885,3.528796,0.608736,3.241516,0.494006,BLG,Undergraduate,Successful,Senior,4
19099,2.0,3,7,2.838129,139.0,3.625000,8.0,0.000000,0.167539,0.314136,...,0.235602,3.586387,1.025462,3.241516,0.494006,BLG,Undergraduate,Successful,Senior,4

In [5]:
df = pd.concat([df, pd.get_dummies(df['Course Year'], prefix='Course Year'), pd.get_dummies(df['Department Code'], prefix='Department Code'), pd.get_dummies(df['Course Level'], prefix='Course Level'), pd.get_dummies(df['Standing'], prefix='Standing'), pd.get_dummies(df['Status'], prefix='Status')], axis=1)
df.drop(['Course Year', 'Department Code', 'Course Level', 'Status', 'Standing'], axis=1, inplace=True)

/var/folders/s7/jgc_z9fj1tq65hb0wg4tr7lm0000gn/T/ipykernel_40797/1765600028.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df = pd.concat([df, pd.get_dummies(df['Course Year'], prefix='Course Year'), pd.get_dummies(df['Department Code'], prefix='Department Code'), pd.get_dummies(df['Course Level'], prefix='Course Level'), pd.get_dummies(df['Standing'], prefix='Standing'), pd.get_dummies(df['Status'], prefix='Status')], axis=1)

In [6]:
columns = df.columns

In [7]:
le = LabelEncoder()
le.fit(['1', '2', '3', '4', '5'])

LabelEncoder()

In [8]:
def standardize(X_train, X_test):
    X_train_cols = X_train.columns
    X_test_cols = X_test.columns
    sc = StandardScaler()
    fitted_sc = sc.fit(X_train)
    X_train_std = pd.DataFrame(fitted_sc.transform(X_train), columns=X_train_cols)
    X_test_std = pd.DataFrame(fitted_sc.transform(X_test), columns=X_test_cols)
    return X_train_std, X_test_std

In [9]:
df

,Course Credit,Grades,Course Semester,GPA,Completed Credits,Semester GPA,Semester Credit,Grade 1 Rate,Grade 2 Rate,Grade 3 Rate,...,Course Year_3,Course Year_4,Department Code_BLG,Course Level_Undergraduate,Standing_Freshman,Standing_Junior,Standing_Senior,Standing_Sophomore,Status_Successful,Status_Unsuccessful
0,2.5,4,1,3.102564,19.5,3.102564,19.5,0.000000,0.023560,0.486911,...,0,0,1,1,1,0,0,0,1,0
1,1.0,3,1,3.102564,19.5,3.102564,19.5,0.005236,0.086387,0.557592,...,0,0,1,1,1,0,0,0,1,0
2,2.0,1,1,3.102564,19.5,3.102564,19.5,0.007853,0.107330,0.358639,...,0,0,1,1,1,0,0,0,0,1
3,5.5,4,1,3.102564,19.5,3.102564,19.5,0.143979,0.193717,0.204188,...,0,0,1,1,1,0,0,0,1,0
4,4.0,3,1,3.102564,19.5,3.102564,19.5,0.028796,0.256545,0.439791,...,0,0,1,1,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19095,4.5,3,6,2.790076,131.0,2.800000,20.0,0.007853,0.120419,0.348168,...,1,0,1,1,0,1,0,0,1,0
19096,1.0,4,7,2.838129,139.0,3.625000,8.0,0.000000,0.151832,0.227749,...,0,1,1,1,0,0,1,0,1,0
19097,2.0,5,7,2.838129,139.0,3.625000,8.0,0.000000,0.060209,0.413613,...,0,1,1,1,0,0,1,0,1,0
19098,3.0,3,7,2.838129,139.0,3.625000,8.0,0.000000,0.018325,0.476440,...,0,1,1,1,0,0,1,0,1,0
19099,2.0,3,7,2.838129,139.0,3.625000,8.0,0.000000,0.167539,0.314136,...,0,1,1,1,0,0,1,0,1,0

In [10]:
def get_train_data(df, train_sem, columns):
    dataFrame = pd.DataFrame(columns=columns)
    for sem in train_sem:
        dataFrame = pd.concat([dataFrame, df[df.iloc[:, 2] == sem]], ignore_index=True)
    
    X_train = dataFrame.drop('Course Semester', axis=1)
    y_train = le.transform(X_train.pop('Grades'))
    return X_train, y_train

In [11]:
def define_structure(X, Y):
    input_unit = X.shape[0] # size of input layer
    hidden_unit = X.shape[0] # hidden layer of size 4
    output_unit = Y.shape[0] # size of output layer
    return (input_unit, hidden_unit, output_unit)

In [12]:
def parameters_initialization(input_unit, hidden_unit, output_unit):
    np.random.seed(41)
    W1 = np.random.randn(hidden_unit, input_unit) * 0.01
    b1 = np.zeros((hidden_unit, 1))
    W2 = np.random.randn(output_unit, hidden_unit) * 0.01
    b2 = np.zeros((output_unit, 1))
    parameters = {"W1": W1,
                  "b1": b1,
                  "W2": W2,
                  "b2": b2}
    
    return parameters

In [13]:
def softmax(x):
    return scipy_softmax(x)

In [14]:
def forward_propagation(X, parameters):
    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']
    
    Z1 = np.dot(W1, X) + b1
    A1 = np.tanh(Z1)
    Z2 = np.dot(W2, A1) + b2
    A2 = softmax(Z2)
    cache = {"Z1": Z1,"A1": A1,"Z2": Z2,"A2": A2}
    
    return A2, cache

In [15]:
def entropy_cost(A2, Y, parameters):
    #number of training example
    m = Y.shape[1]
    logprobs = np.multiply(np.log(A2), Y)
    cost = - np.sum(logprobs) / m
    cost = float(np.squeeze(cost))
                                    
    return cost

In [16]:
def backward_propagation(parameters, cache, X, Y):
    #number of training example
    m = X.shape[1]
    
    W1 = parameters['W1']
    W2 = parameters['W2']
    A1 = cache['A1']
    A2 = cache['A2']
   
    dZ2 = A2-Y
    dW2 = (1/m) * np.dot(dZ2, A1.T)
    db2 = (1/m) * np.sum(dZ2, axis=1, keepdims=True)
    dZ1 = np.multiply(np.dot(W2.T, dZ2), 1 - np.power(A1, 2))
    dW1 = (1/m) * np.dot(dZ1, X.T) 
    db1 = (1/m)*np.sum(dZ1, axis=1, keepdims=True)
    
    grads = {"dW1": dW1, "db1": db1, "dW2": dW2,"db2": db2}
    
    return grads

In [17]:
def gradient_descent(parameters, grads, learning_rate = 0.01):
    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']
   
    dW1 = grads['dW1']
    db1 = grads['db1']
    dW2 = grads['dW2']
    db2 = grads['db2']
    W1 = W1 - learning_rate * dW1
    b1 = b1 - learning_rate * db1
    W2 = W2 - learning_rate * dW2
    b2 = b2 - learning_rate * db2
    
    parameters = {"W1": W1, "b1": b1,"W2": W2,"b2": b2}
    
    return parameters

In [18]:
def neural_network_model(X, Y, hidden_unit, num_iterations = 98):
    np.random.seed(3)
    input_unit = define_structure(X, Y)[0]
    output_unit = define_structure(X, Y)[2]
    
    parameters = parameters_initialization(input_unit, hidden_unit, output_unit)
   
    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']
    
    for i in range(0, num_iterations):
        A2, cache = forward_propagation(X, parameters)
        cost = entropy_cost(A2, Y, parameters)
        grads = backward_propagation(parameters, cache, X, Y)
        parameters = gradient_descent(parameters, grads)
        if i % 5 == 0:
            print ("Cost after iteration %i: %f" %(i, cost))
    return parameters

In [19]:
def prediction(parameters, X):
    A2, cache = forward_propagation(X, parameters)
    predictions = np.round(A2)
    
    return predictions

In [20]:
def get_error_score(df, columns):
    error_scores = {}
    sorted_semesters = sorted(set(df.iloc[:, 2]))
    for sem_idx in range(1, len(sorted_semesters)):
        training_sem = sorted_semesters[:sem_idx]
        test_sem = sorted_semesters[sem_idx]
        X_train, y_train = get_train_data(df, training_sem, columns)
        X_test = df[df.iloc[:, 2] == test_sem]
        X_test.drop('Course Semester', axis=1, inplace=True)
        y_test = le.transform(X_test.pop('Grades'))
        
        X_train, X_test = standardize(X_train, X_test)
        
        X_train = X_train.T.to_numpy()   # (number of attributes, number of samples)
        y_train = y_train.reshape(1, y_train.shape[0])   # (1, number of samples)
        
        X_test = X_test.T.to_numpy()   # (number of attributes, number of samples)
        y_test = y_test.reshape(1, y_test.shape[0])   # (1, number of samples)
        
        parameters = neural_network_model(X_train, y_train, 58, num_iterations=490)
        
        y_pred_test = prediction(parameters, X_test)
        rmse_test = round(np.sqrt(mean_squared_error(y_test[0], y_pred_test[0])), 3)
        mae_test = round(mean_absolute_error(y_test[0], y_pred_test[0]), 3)
        
        y_pred_train = prediction(parameters, X_train)
        rmse_train = round(np.sqrt(mean_squared_error(y_train[0], y_pred_train[0])), 3)
        mae_train = round(mean_absolute_error(y_train[0], y_pred_train[0]),3)
        
        error_scores.setdefault(sem_idx, {})
        error_scores[sem_idx]['rmse'] = [rmse_train, rmse_test]
        error_scores[sem_idx]['mae'] = [mae_train, mae_test]        
        
    return error_scores

In [21]:
model_results = {}

In [22]:
scores = get_error_score(df, columns)
model_results['NN'] = scores

/var/folders/s7/jgc_z9fj1tq65hb0wg4tr7lm0000gn/T/ipykernel_40797/393110090.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.drop('Course Semester', axis=1, inplace=True)

Cost after iteration 0: 18.911436
Cost after iteration 5: 18.911047
Cost after iteration 10: 18.910634
Cost after iteration 15: 18.910182
Cost after iteration 20: 18.909672
Cost after iteration 25: 18.909084
Cost after iteration 30: 18.908395
Cost after iteration 35: 18.907577
Cost after iteration 40: 18.906597
Cost after iteration 45: 18.905415
Cost after iteration 50: 18.903984
Cost after iteration 55: 18.902248
Cost after iteration 60: 18.900141
Cost after iteration 65: 18.897588
Cost after iteration 70: 18.894509
Cost after iteration 75: 18.890817
Cost after iteration 80: 18.886438
Cost after iteration 85: 18.881316
Cost after iteration 90: 18.875451
Cost after iteration 95: 18.868936
Cost after iteration 100: 18.862028
Cost after iteration 105: 18.855240
Cost after iteration 110: 18.849470
Cost after iteration 115: 18.846173
Cost after iteration 120: 18.847557
Cost after iteration 125: 18.856825
Cost after iteration 130: 18.878407
Cost after iteration 135: 18.918182
Cost after iteration 140: 18.983597
Cost after iteration 145: 19.083561
Cost after iteration 150: 19.227970
Cost after iteration 155: 19.426706
Cost after iteration 160: 19.688183
Cost after iteration 165: 20.017707
Cost after iteration 170: 20.416112
Cost after iteration 175: 20.879020
Cost after iteration 180: 21.396856
Cost after iteration 185: 21.955496
Cost after iteration 190: 22.537325
Cost after iteration 195: 23.122514
Cost after iteration 200: 23.690425
Cost after iteration 205: 24.221053
Cost after iteration 210: 24.696421
Cost after iteration 215: 25.101766
Cost after iteration 220: 25.426368
Cost after iteration 225: 25.663902
Cost after iteration 230: 25.812334
Cost after iteration 235: 25.873478
Cost after iteration 240: 25.852385
Cost after iteration 245: 25.756704
Cost after iteration 250: 25.596091
Cost after iteration 255: 25.381634
Cost after iteration 260: 25.125242
Cost after iteration 265: 24.838975
Cost after iteration 270: 24.534330
Cost after iteration 275: 24.221590
Cost after iteration 280: 23.909305
Cost after iteration 285: 23.604010
Cost after iteration 290: 23.310184
Cost after iteration 295: 23.030437
Cost after iteration 300: 22.765860
Cost after iteration 305: 22.516448
Cost after iteration 310: 22.281540
Cost after iteration 315: 22.060188
Cost after iteration 320: 21.851441
Cost after iteration 325: 21.654511
Cost after iteration 330: 21.468837
Cost after iteration 335: 21.294072
Cost after iteration 340: 21.130012
Cost after iteration 345: 20.976509
Cost after iteration 350: 20.833396
Cost after iteration 355: 20.700427
Cost after iteration 360: 20.577256
Cost after iteration 365: 20.463440
Cost after iteration 370: 20.358452
Cost after iteration 375: 20.261713
Cost after iteration 380: 20.172619
Cost after iteration 385: 20.090562
Cost after iteration 390: 20.014951
Cost after iteration 395: 19.945227
Cost after iteration 400: 19.880864
Cost after iteration 405: 19.821379
Cost after iteration 410: 19.766330
Cost after iteration 415: 19.715315
Cost after iteration 420: 19.667972
Cost after iteration 425: 19.623974
Cost after iteration 430: 19.583025
Cost after iteration 435: 19.544862
Cost after iteration 440: 19.509245
Cost after iteration 445: 19.475960
Cost after iteration 450: 19.444813
Cost after iteration 455: 19.415632
Cost after iteration 460: 19.388257
Cost after iteration 465: 19.362549
Cost after iteration 470: 19.338376
Cost after iteration 475: 19.315624
Cost after iteration 480: 19.294185
Cost after iteration 485: 19.273964

/var/folders/s7/jgc_z9fj1tq65hb0wg4tr7lm0000gn/T/ipykernel_40797/3765939947.py:4: RuntimeWarning: divide by zero encountered in log
  logprobs = np.multiply(np.log(A2), Y)
/var/folders/s7/jgc_z9fj1tq65hb0wg4tr7lm0000gn/T/ipykernel_40797/3765939947.py:4: RuntimeWarning: invalid value encountered in multiply
  logprobs = np.multiply(np.log(A2), Y)
/var/folders/s7/jgc_z9fj1tq65hb0wg4tr7lm0000gn/T/ipykernel_40797/393110090.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.drop('Course Semester', axis=1, inplace=True)

Cost after iteration 0: 19.788679
Cost after iteration 5: 19.788071
Cost after iteration 10: 19.787433
Cost after iteration 15: 19.786736
Cost after iteration 20: 19.785950
Cost after iteration 25: 19.785043
Cost after iteration 30: 19.783975
Cost after iteration 35: 19.782699
Cost after iteration 40: 19.781160
Cost after iteration 45: 19.779293
Cost after iteration 50: 19.777019
Cost after iteration 55: 19.774248
Cost after iteration 60: 19.770874
Cost after iteration 65: 19.766782
Cost after iteration 70: 19.761852
Cost after iteration 75: 19.755974
Cost after iteration 80: 19.749066
Cost after iteration 85: 19.741119
Cost after iteration 90: 19.732258
Cost after iteration 95: 19.722839
Cost after iteration 100: 19.713586
Cost after iteration 105: 19.705784
Cost after iteration 110: 19.701532
Cost after iteration 115: 19.704032
Cost after iteration 120: 19.717921
Cost after iteration 125: 19.749557
Cost after iteration 130: 19.807207
Cost after iteration 135: 19.901000
Cost after iteration 140: 20.042497
Cost after iteration 145: 20.243767
Cost after iteration 150: 20.515953
Cost after iteration 155: 20.867540
Cost after iteration 160: 21.302728
Cost after iteration 165: 21.820337
Cost after iteration 170: 22.413465
Cost after iteration 175: 23.069890
Cost after iteration 180: 23.773003
Cost after iteration 185: 24.503070
Cost after iteration 190: 25.238630
Cost after iteration 195: 25.957891
Cost after iteration 200: 26.640032
Cost after iteration 205: 27.266330
Cost after iteration 210: 27.821054
Cost after iteration 215: 28.292103
Cost after iteration 220: 28.671335
Cost after iteration 225: 28.954619
Cost after iteration 230: 29.141611
Cost after iteration 235: 29.235336
Cost after iteration 240: 29.241654
Cost after iteration 245: 29.168634
Cost after iteration 250: 29.025904
Cost after iteration 255: 28.823964
Cost after iteration 260: 28.573525
Cost after iteration 265: 28.284941
Cost after iteration 270: 27.967768
Cost after iteration 275: 27.630508
Cost after iteration 280: 27.280511
Cost after iteration 285: 26.923990
Cost after iteration 290: 26.566123
Cost after iteration 295: 26.211184
Cost after iteration 300: 25.862686
Cost after iteration 305: 25.523483
Cost after iteration 310: 25.195837
Cost after iteration 315: 24.881440
Cost after iteration 320: 24.581433
Cost after iteration 325: 24.296440
Cost after iteration 330: 24.026647
Cost after iteration 335: 23.771924
Cost after iteration 340: 23.531961
Cost after iteration 345: 23.306397
Cost after iteration 350: 23.094894
Cost after iteration 355: 22.897162
Cost after iteration 360: 22.712941
Cost after iteration 365: 22.541958
Cost after iteration 370: 22.383883
Cost after iteration 375: 22.238294
Cost after iteration 380: 22.104656
Cost after iteration 385: 21.982306
Cost after iteration 390: 21.870450
Cost after iteration 395: 21.768158
Cost after iteration 400: 21.674379
Cost after iteration 405: 21.587960
Cost after iteration 410: 21.507693
Cost after iteration 415: 21.432370
Cost after iteration 420: 21.360869
Cost after iteration 425: 21.292230
Cost after iteration 430: 21.225730
Cost after iteration 435: 21.160918
Cost after iteration 440: 21.097610
Cost after iteration 445: 21.035837
Cost after iteration 450: 20.975772
Cost after iteration 455: 20.917647
Cost after iteration 460: 20.861692
Cost after iteration 465: 20.808090
Cost after iteration 470: 20.756961
Cost after iteration 475: 20.708359
Cost after iteration 480: 20.662280
Cost after iteration 485: 20.618675

/var/folders/s7/jgc_z9fj1tq65hb0wg4tr7lm0000gn/T/ipykernel_40797/393110090.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.drop('Course Semester', axis=1, inplace=True)

Cost after iteration 0: 19.560010
Cost after iteration 5: 19.559120
Cost after iteration 10: 19.558178
Cost after iteration 15: 19.557144
Cost after iteration 20: 19.555972
Cost after iteration 25: 19.554611
Cost after iteration 30: 19.553002
Cost after iteration 35: 19.551076
Cost after iteration 40: 19.548752
Cost after iteration 45: 19.545936
Cost after iteration 50: 19.542521
Cost after iteration 55: 19.538386
Cost after iteration 60: 19.533407
Cost after iteration 65: 19.527461
Cost after iteration 70: 19.520456
Cost after iteration 75: 19.512364
Cost after iteration 80: 19.503286
Cost after iteration 85: 19.493548
Cost after iteration 90: 19.483848
Cost after iteration 95: 19.475457
Cost after iteration 100: 19.470490
Cost after iteration 105: 19.472226
Cost after iteration 110: 19.485451
Cost after iteration 115: 19.516737
Cost after iteration 120: 19.574537
Cost after iteration 125: 19.668967
Cost after iteration 130: 19.811152
Cost after iteration 135: 20.012165
Cost after iteration 140: 20.281733
Cost after iteration 145: 20.626977
Cost after iteration 150: 21.051488
Cost after iteration 155: 21.554826
Cost after iteration 160: 22.132417
Cost after iteration 165: 22.775728
Cost after iteration 170: 23.472636
Cost after iteration 175: 24.207985
Cost after iteration 180: 24.964337
Cost after iteration 185: 25.722899
Cost after iteration 190: 26.464502
Cost after iteration 195: 27.170574
Cost after iteration 200: 27.824007
Cost after iteration 205: 28.409949
Cost after iteration 210: 28.916514
Cost after iteration 215: 29.335386
Cost after iteration 220: 29.662183
Cost after iteration 225: 29.896442
Cost after iteration 230: 30.041156
Cost after iteration 235: 30.101967
Cost after iteration 240: 30.086249
Cost after iteration 245: 30.002311
Cost after iteration 250: 29.858815
Cost after iteration 255: 29.664397
Cost after iteration 260: 29.427409
Cost after iteration 265: 29.155760
Cost after iteration 270: 28.856821
Cost after iteration 275: 28.537383
Cost after iteration 280: 28.203611
Cost after iteration 285: 27.860973
Cost after iteration 290: 27.514174
Cost after iteration 295: 27.167128
Cost after iteration 300: 26.823019
Cost after iteration 305: 26.484422
Cost after iteration 310: 26.153464
Cost after iteration 315: 25.831938
Cost after iteration 320: 25.521365
Cost after iteration 325: 25.222980
Cost after iteration 330: 24.937704
Cost after iteration 335: 24.666113
Cost after iteration 340: 24.408453
Cost after iteration 345: 24.164678
Cost after iteration 350: 23.934515
Cost after iteration 355: 23.717541
Cost after iteration 360: 23.513248
Cost after iteration 365: 23.321088
Cost after iteration 370: 23.140483
Cost after iteration 375: 22.970813
Cost after iteration 380: 22.811391
Cost after iteration 385: 22.661449
Cost after iteration 390: 22.520139
Cost after iteration 395: 22.386559
Cost after iteration 400: 22.259795
Cost after iteration 405: 22.138984
Cost after iteration 410: 22.023368
Cost after iteration 415: 21.912347
Cost after iteration 420: 21.805493
Cost after iteration 425: 21.702535
Cost after iteration 430: 21.603323
Cost after iteration 435: 21.507790
Cost after iteration 440: 21.415921
Cost after iteration 445: 21.327730
Cost after iteration 450: 21.243243
Cost after iteration 455: 21.162482
Cost after iteration 460: 21.085449
Cost after iteration 465: 21.012121
Cost after iteration 470: 20.942442
Cost after iteration 475: 20.876325
Cost after iteration 480: 20.813653
Cost after iteration 485: 20.754291

/var/folders/s7/jgc_z9fj1tq65hb0wg4tr7lm0000gn/T/ipykernel_40797/393110090.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.drop('Course Semester', axis=1, inplace=True)

Cost after iteration 0: 20.520748
Cost after iteration 5: 20.519934
Cost after iteration 10: 20.519072
Cost after iteration 15: 20.518123
Cost after iteration 20: 20.517047
Cost after iteration 25: 20.515796
Cost after iteration 30: 20.514314
Cost after iteration 35: 20.512537
Cost after iteration 40: 20.510386
Cost after iteration 45: 20.507769
Cost after iteration 50: 20.504577
Cost after iteration 55: 20.500682
Cost after iteration 60: 20.495943
Cost after iteration 65: 20.490204
Cost after iteration 70: 20.483312
Cost after iteration 75: 20.475134
Cost after iteration 80: 20.465598
Cost after iteration 85: 20.454760
Cost after iteration 90: 20.442895
Cost after iteration 95: 20.430655
Cost after iteration 100: 20.419268
Cost after iteration 105: 20.410814
Cost after iteration 110: 20.408560
Cost after iteration 115: 20.417319
Cost after iteration 120: 20.443789
Cost after iteration 125: 20.496756
Cost after iteration 130: 20.587047
Cost after iteration 135: 20.727080
Cost after iteration 140: 20.929894
Cost after iteration 145: 21.207665
Cost after iteration 150: 21.569922
Cost after iteration 155: 22.021860
Cost after iteration 160: 22.563247
Cost after iteration 165: 23.188145
Cost after iteration 170: 23.885387
Cost after iteration 175: 24.639558
Cost after iteration 180: 25.432205
Cost after iteration 185: 26.243087
Cost after iteration 190: 27.051383
Cost after iteration 195: 27.836780
Cost after iteration 200: 28.580418
Cost after iteration 205: 29.265662
Cost after iteration 210: 29.878676
Cost after iteration 215: 30.408793
Cost after iteration 220: 30.848691
Cost after iteration 225: 31.194387
Cost after iteration 230: 31.445069
Cost after iteration 235: 31.602782
Cost after iteration 240: 31.672002
Cost after iteration 245: 31.659102
Cost after iteration 250: 31.571768
Cost after iteration 255: 31.418418
Cost after iteration 260: 31.207685
Cost after iteration 265: 30.948020
Cost after iteration 270: 30.647431
Cost after iteration 275: 30.313365
Cost after iteration 280: 29.952690
Cost after iteration 285: 29.571744
Cost after iteration 290: 29.176395
Cost after iteration 295: 28.772086
Cost after iteration 300: 28.363838
Cost after iteration 305: 27.956231
Cost after iteration 310: 27.553362
Cost after iteration 315: 27.158808
Cost after iteration 320: 26.775609
Cost after iteration 325: 26.406257
Cost after iteration 330: 26.052700
Cost after iteration 335: 25.716356
Cost after iteration 340: 25.398136
Cost after iteration 345: 25.098483
Cost after iteration 350: 24.817426
Cost after iteration 355: 24.554649
Cost after iteration 360: 24.309563
Cost after iteration 365: 24.081378
Cost after iteration 370: 23.869178
Cost after iteration 375: 23.671968
Cost after iteration 380: 23.488729
Cost after iteration 385: 23.318448
Cost after iteration 390: 23.160142
Cost after iteration 395: 23.012877
Cost after iteration 400: 22.875775
Cost after iteration 405: 22.748016
Cost after iteration 410: 22.628847
Cost after iteration 415: 22.517571
Cost after iteration 420: 22.413553
Cost after iteration 425: 22.316212
Cost after iteration 430: 22.225018
Cost after iteration 435: 22.139487
Cost after iteration 440: 22.059180
Cost after iteration 445: 21.983696
Cost after iteration 450: 21.912671
Cost after iteration 455: 21.845771
Cost after iteration 460: 21.782694
Cost after iteration 465: 21.723162
Cost after iteration 470: 21.666922
Cost after iteration 475: 21.613744
Cost after iteration 480: 21.563414
Cost after iteration 485: 21.515739

/var/folders/s7/jgc_z9fj1tq65hb0wg4tr7lm0000gn/T/ipykernel_40797/393110090.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.drop('Course Semester', axis=1, inplace=True)

Cost after iteration 0: 21.385400
Cost after iteration 5: 21.384537
Cost after iteration 10: 21.383620
Cost after iteration 15: 21.382606
Cost after iteration 20: 21.381450
Cost after iteration 25: 21.380098
Cost after iteration 30: 21.378487
Cost after iteration 35: 21.376543
Cost after iteration 40: 21.374178
Cost after iteration 45: 21.371286
Cost after iteration 50: 21.367743
Cost after iteration 55: 21.363405
Cost after iteration 60: 21.358114
Cost after iteration 65: 21.351703
Cost after iteration 70: 21.344015
Cost after iteration 75: 21.334937
Cost after iteration 80: 21.324459
Cost after iteration 85: 21.312762
Cost after iteration 90: 21.300371
Cost after iteration 95: 21.288358
Cost after iteration 100: 21.278635
Cost after iteration 105: 21.274328
Cost after iteration 110: 21.280205
Cost after iteration 115: 21.303109
Cost after iteration 120: 21.352282
Cost after iteration 125: 21.439422
Cost after iteration 130: 21.578288
Cost after iteration 135: 21.783708
Cost after iteration 140: 22.069963
Cost after iteration 145: 22.448755
Cost after iteration 150: 22.927174
Cost after iteration 155: 23.506171
Cost after iteration 160: 24.179885
Cost after iteration 165: 24.935906
Cost after iteration 170: 25.756323
Cost after iteration 175: 26.619262
Cost after iteration 180: 27.500634
Cost after iteration 185: 28.375824
Cost after iteration 190: 29.221172
Cost after iteration 195: 30.015146
Cost after iteration 200: 30.739178
Cost after iteration 205: 31.378169
Cost after iteration 210: 31.920699
Cost after iteration 215: 32.359027
Cost after iteration 220: 32.688951
Cost after iteration 225: 32.909579
Cost after iteration 230: 33.023031
Cost after iteration 235: 33.034079
Cost after iteration 240: 32.949760
Cost after iteration 245: 32.778986
Cost after iteration 250: 32.532189
Cost after iteration 255: 32.220969
Cost after iteration 260: 31.857717
Cost after iteration 265: 31.455149
Cost after iteration 270: 31.025752
Cost after iteration 275: 30.581188
Cost after iteration 280: 30.131741
Cost after iteration 285: 29.685911
Cost after iteration 290: 29.250209
Cost after iteration 295: 28.829187
Cost after iteration 300: 28.425665
Cost after iteration 305: 28.041094
Cost after iteration 310: 27.675964
Cost after iteration 315: 27.330187
Cost after iteration 320: 27.003380
Cost after iteration 325: 26.695030
Cost after iteration 330: 26.404546
Cost after iteration 335: 26.131244
Cost after iteration 340: 25.874299
Cost after iteration 345: 25.632724
Cost after iteration 350: 25.405388
Cost after iteration 355: 25.191072
Cost after iteration 360: 24.988566
Cost after iteration 365: 24.796769
Cost after iteration 370: 24.614764
Cost after iteration 375: 24.441860
Cost after iteration 380: 24.277577
Cost after iteration 385: 24.121606
Cost after iteration 390: 23.973740
Cost after iteration 395: 23.833810
Cost after iteration 400: 23.701647
Cost after iteration 405: 23.577042
Cost after iteration 410: 23.459744
Cost after iteration 415: 23.349458
Cost after iteration 420: 23.245850
Cost after iteration 425: 23.148566
Cost after iteration 430: 23.057234
Cost after iteration 435: 22.971483
Cost after iteration 440: 22.890946
Cost after iteration 445: 22.815267
Cost after iteration 450: 22.744110
Cost after iteration 455: 22.677154
Cost after iteration 460: 22.614101
Cost after iteration 465: 22.554673
Cost after iteration 470: 22.498611
Cost after iteration 475: 22.445677
Cost after iteration 480: 22.395652
Cost after iteration 485: 22.348334

/var/folders/s7/jgc_z9fj1tq65hb0wg4tr7lm0000gn/T/ipykernel_40797/393110090.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.drop('Course Semester', axis=1, inplace=True)

Cost after iteration 0: 22.158871
Cost after iteration 5: 22.158076
Cost after iteration 10: 22.157231
Cost after iteration 15: 22.156298
Cost after iteration 20: 22.155234
Cost after iteration 25: 22.153991
Cost after iteration 30: 22.152513
Cost after iteration 35: 22.150732
Cost after iteration 40: 22.148568
Cost after iteration 45: 22.145926
Cost after iteration 50: 22.142697
Cost after iteration 55: 22.138752
Cost after iteration 60: 22.133955
Cost after iteration 65: 22.128162
Cost after iteration 70: 22.121246
Cost after iteration 75: 22.113130
Cost after iteration 80: 22.103842
Cost after iteration 85: 22.093608
Cost after iteration 90: 22.082994
Cost after iteration 95: 22.073111
Cost after iteration 100: 22.065890
Cost after iteration 105: 22.064440
Cost after iteration 110: 22.073444
Cost after iteration 115: 22.099548
Cost after iteration 120: 22.151624
Cost after iteration 125: 22.240756
Cost after iteration 130: 22.379801
Cost after iteration 135: 22.582420
Cost after iteration 140: 22.861641
Cost after iteration 145: 23.228164
Cost after iteration 150: 23.688764
Cost after iteration 155: 24.245093
Cost after iteration 160: 24.893060
Cost after iteration 165: 25.622799
Cost after iteration 170: 26.419171
Cost after iteration 175: 27.262714
Cost after iteration 180: 28.130920
Cost after iteration 185: 28.999665
Cost after iteration 190: 29.844669
Cost after iteration 195: 30.642840
Cost after iteration 200: 31.373405
Cost after iteration 205: 32.018776
Cost after iteration 210: 32.565099
Cost after iteration 215: 33.002568
Cost after iteration 220: 33.325508
Cost after iteration 225: 33.532275
Cost after iteration 230: 33.624974
Cost after iteration 235: 33.609011
Cost after iteration 240: 33.492542
Cost after iteration 245: 33.285927
Cost after iteration 250: 33.001202
Cost after iteration 255: 32.651590
Cost after iteration 260: 32.250969
Cost after iteration 265: 31.813265
Cost after iteration 270: 31.351807
Cost after iteration 275: 30.878730
Cost after iteration 280: 30.404537
Cost after iteration 285: 29.937869
Cost after iteration 290: 29.485479
Cost after iteration 295: 29.052350
Cost after iteration 300: 28.641895
Cost after iteration 305: 28.256173
Cost after iteration 310: 27.896099
Cost after iteration 315: 27.561633
Cost after iteration 320: 27.251966
Cost after iteration 325: 26.965703
Cost after iteration 330: 26.701046
Cost after iteration 335: 26.455973
Cost after iteration 340: 26.228400
Cost after iteration 345: 26.016300
Cost after iteration 350: 25.817776
Cost after iteration 355: 25.631105
Cost after iteration 360: 25.454750
Cost after iteration 365: 25.287391
Cost after iteration 370: 25.127953
Cost after iteration 375: 24.975631
Cost after iteration 380: 24.829896
Cost after iteration 385: 24.690459
Cost after iteration 390: 24.557211
Cost after iteration 395: 24.430145
Cost after iteration 400: 24.309286
Cost after iteration 405: 24.194638
Cost after iteration 410: 24.086158
Cost after iteration 415: 23.983740
Cost after iteration 420: 23.887221
Cost after iteration 425: 23.796384
Cost after iteration 430: 23.710973
Cost after iteration 435: 23.630707
Cost after iteration 440: 23.555290
Cost after iteration 445: 23.484422
Cost after iteration 450: 23.417806
Cost after iteration 455: 23.355156
Cost after iteration 460: 23.296197
Cost after iteration 465: 23.240670
Cost after iteration 470: 23.188332
Cost after iteration 475: 23.138959
Cost after iteration 480: 23.092341
Cost after iteration 485: 23.048284

In [24]:
weights = [9, 8, 7, 6, 8, 4]
total_weight = sum(weights)

# Weighted average RMSE
weighted_sum_rmse = 0
for i, key in enumerate(model_results['NN'], start=0):
    rmse_value = model_results['NN'][key]['rmse'][1]
    weighted_sum_rmse += weights[i] * rmse_value

weighted_avg_rmse = weighted_sum_rmse / total_weight
print("Weighted average RMSE:", weighted_avg_rmse)

# Weighted average MAE
weighted_sum_mae = 0
for i, key in enumerate(model_results['NN'], start=0):
    mae_value = model_results['NN'][key]['mae'][1]
    weighted_sum_mae += weights[i] * mae_value

weighted_avg_mae = weighted_sum_mae / total_weight
print("Weighted average MAE:", weighted_avg_mae)

Weighted average RMSE: 2.4958333333333336
Weighted average MAE: 2.282238095238095

In [26]:
import json
# Your results
results = {
    "chinese_nn": {
        "WeightedAvgRMSE": 2.4958333333333336,
        "WeightedAvgMAE": 2.282238095238095
    },
}

# Save to JSON file
with open("chinese_nn.json", "w") as f:
    json.dump(results, f, indent=4)